<% show_remove = true if not defined? show_remove or show_remove == nil %>

<div class="nested-fields" >
    <%= f.input :distance %>
    <%= f.input :duration %>
    <%= f.input :exercise_name, input_html: { class: "search_autocomplete", data: {autocomplete_source: search_for_named_exercises_path } } %>
    <% if show_remove %>
        <%= link_to_remove_association "remove workout", f %>
    <% end %>
</div>
